{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
<div class="wrapper">
	<div class="container">
		<h1>Welcome to the Chat Room</h1>
		
		<form class="form" method="POST" action="#">
			<input type="text" placeholder="Enter your name" name="nm">
			<button type="submit" id="submitButton">Submit</button>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

{% endblock %}