{% extends "base.html" %}

{% block content %}

<style>
    H1 {
        text-align: center;
    }
</style>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js')}}"></script> -->
<h1>Welcome {{name}}!</h1>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter message" aria-label="Enter message" id="msg">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="sendBtn">Send</button>
    </div>
</div>
{% endblock %}


